
{% load static %}

{% include "pages/header.html" %}    
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="text-center mt-5">
              Successfully created meal!
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% include "pages/footer.html" %} 