{% load static %}

{% include "pages/header.html" %}

<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-md">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5 text-center">
                            You are now logged out
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "pages/footer.html" %}